In [1]:
import pandas  as pd

In [31]:
import numpy as np
df = pd.read_csv("geo.csv")
df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [32]:
df1 = pd.read_csv("torn.csv")
df1.head()

   Unnamed: 0 Postalcode      Borough                            Neighborhood
0           0        M1B  Scarborough                          Rouge, Malvern
1           1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2           2        M1E  Scarborough       Guildwood, Morningside, West Hill
3           3        M1G  Scarborough                                  Woburn
4           4        M1H  Scarborough                               Cedarbrae

In [33]:
df1.drop('Unnamed: 0',axis=1).head()

  Postalcode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [38]:
df2 = pd.concat([df,df1],axis=1, sort=False)
df2.head()

,Postal Code,Latitude,Longitude,Unnamed: 0,Postalcode,Borough,Neighborhood
0,M1B,43.806686,-79.194353,0,M1B,Scarborough,"Rouge, Malvern"
1,M1C,43.784535,-79.160497,1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,M1E,43.763573,-79.188711,2,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,M1G,43.770992,-79.216917,3,M1G,Scarborough,Woburn
4,M1H,43.773136,-79.239476,4,M1H,Scarborough,Cedarbrae

In [44]:
df2.drop('Postal Code',axis=1,inplace=True)

In [48]:
df2.head()

,Latitude,Longitude,Postalcode,Borough,Neighborhood
0,43.806686,-79.194353,M1B,Scarborough,"Rouge, Malvern"
1,43.784535,-79.160497,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union"
2,43.763573,-79.188711,M1E,Scarborough,"Guildwood, Morningside, West Hill"
3,43.770992,-79.216917,M1G,Scarborough,Woburn
4,43.773136,-79.239476,M1H,Scarborough,Cedarbrae

In [50]:
df3 = df2.reindex(columns)

TypeError: Index(...) must be called with a collection of some kind, 'Postalcode' was passed